{% extends 'base.twig' %}
{% block content %}
	<section class="card_section_3">
		<div class="container-fluid w_1366">
			<div class="row">
			{% for post in posts %}
				{% include 'all-posts.twig' %}
			{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
